@media (max-width:1200px) {

    /*#### start header  ####*/
    header .carousel-inner .carousel-item .carousel-caption {
        top: 120px;
    }

    header .carousel-inner .carousel-item .header-button {
        margin-top: -25px;
    }

    /*#### end header  ####*/

    .hov-img,
    .add-cart1 {
        padding: 1.5px;
        box-sizing: border-box;
    }
}

@media (max-width:991px) {
    .navbar .navbar-nav .nav-item .nav-link::after {
        bottom: 0px;
    }

    /*#### start header ####*/

    header .carousel-inner .carousel-item h2 {
        font-size: 60px;
        line-height: 60px;
        margin-bottom: 4px;
    }

    header .carousel-inner .carousel-item h3 {
        font-size: 15px;
    }

    header .carousel-inner .carousel-item a {
        font-size: 9px;
        line-height: 37px;
    }


    .part2-header .homeShop .item:first-child p,
    .part2-header .homeShop .item:last-child p {
        left: 6%;
    }

    .part2-header .homeShop .item p {
        left: 25%;
    }

    header .carousel-indicators {
        opacity: 0;
    }

    /*#### end header ####*/
    /*Shop Limited Edition section*/
    .limited {

        background-position: cover;
    }

    .limited-content {
        width: 90%;
    }

    /*start Best Sellers section */
    .col-3 {
        width: 50%;
    }

    .hov-img,
    .add-cart1 {
        padding: 1.5px;
        box-sizing: border-box;
    }
}

@media (max-width:767px) {

    /*#### start header ####*/
    header .carousel-inner .carousel-item .carousel-caption {
        top: 100px;
    }

    header .carousel-inner .carousel-item {
        height: 70vh;
    }

    header .carousel-inner .carousel-item h2 {
        font-size: 46px;
        line-height: 54px;
    }

    header .carousel-caption .brr {
        display: none;
    }

    /*#### end header ####*/

    /*#### start part2-header ####*/
    .part2-header .homeShop .item {
        margin: 10px 30px;

    }

    .part2-header .homeShop .item:first-child p,
    .part2-header .homeShop .item:last-child p {
        left: 25%;
    }

    .part2-header .homeShop .item p {
        left: 35%;
    }

    /*#### end part2-header ####*/

    /*#### start footer ####*/
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 185px;
    }

    /*#### end footer ####*/



    /*Shop Limited Edition section*/
    .limited{
        background-size: cover;
       }
   

    .limited span {
        font-size: 40px;
    }

    .limited p {

        font-size: 20px;
        line-height: 25px;
    }

    .limited-content {
        width: 70%;

    }

    .hov-img,
    .add-cart1 {
        padding: 1.5px;
        box-sizing: border-box;
    }

}

@media(max-width:576px) {
    /* start header */

    header .carousel-inner .carousel-item h2 {
        font-size: 35px;
        margin-bottom: 3px;
    }


    header .carousel-inner .carousel-item a {
        font-size: 6px;
        line-height: 26px;
        padding: 0 15px;
    }

    /* end header */

    footer .container-fluid {
        padding-left: 1.25rem;
        padding-right: 4rem;
    }

    .Shipping {
        padding-bottom: 130px;
        padding-right: 150px;
        background-position: center;
    }

    .Shipping h2 {
        float: none;
        width: 200%;
        margin-top: -20px;
        margin-left: -50px;
    }

    .Shipping button {
        float: none;
        width: 80%;
        margin-left: 70px;
    }

    /*******************************/
  

    .Latest_Posts .row img {
        margin-top: 30px;
    }

    .Latest_Posts .row p {
        margin-bottom: 20px;

    }

    .Latest_Posts .row .aa {
        margin-left: -40px;
    }


    /*Shop Limited Edition section*/
    .limited{
        background-size: cover;
       }

    .limited span {
        font-size: 30px;
    }

    .limited p {

        font-size: 20px;
        line-height: 25px;
    }

    .limited-content {
        width: 80%;

    }

    .hov-img,
    .add-cart1 {
        padding: 1.2px;
        box-sizing: border-box;
    }
}


@media(max-width:488px) {

    .limited-content {
        width: 100%;

    }
    .limited{
        background-size: cover;
       }

    .limited p {

        font-size: 15px;
        line-height: 20px;
    }

    .btn1,
    .btn2 {
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .col-3 {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    .hov-img,
    .add-cart1 {
        padding: 1.5px;
        box-sizing: border-box;
    }
}


@media (max-width:490px) {
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 150px;
    }
}

@media(max-width:390px) {

    header .carousel-inner .carousel-item h2 {
        font-size: 30px;
    }

}

@media (min-width: 577px) and (max-width: 768px) {
    .container {
        width: 75%;
    }

    .Shipping {
      
        padding-right: 150px;
        background-position: center;
    }

    .Shipping h2 {
        float: none;
        width: 200%;
        margin-top: -20px;
        margin-left: -50px;
    }

    .Shipping button {
        float: none;
        width: 80%;
        margin-left: 70px;
    }

    /*******************************/
    .sales {
        margin-top: 0;
    }

    .sub_left,
    .sub_mid,
    .sub_right {
        margin-top: 40px;
    }

    /*******************************/
   

    .Latest_Posts .row img {
        margin-top: 30px;
    }

    .Latest_Posts .row p {
        margin-bottom: 20px;

    }

    .Latest_Posts .row .aa {
        margin-left: -40px;
    }
}


@media (min-width: 769px) and (max-width: 992px) {
    .Shipping {
        padding-bottom: 50px;
        padding-right: 150px;
        background-position: center;
    }

    .Shipping h2 {
        width: 90%;
        margin-top: -30px;
        margin-left: -80px;
        font-size: 30px;
    }

    .Shipping button {
        width: 30%;
        margin-right: -150px;
        margin-top: -30px;
    }

    /*****************************************/
    .Latest_Posts {
     
        height: 700px;
    }

    .Latest_Posts .row img {
        margin-top: 30px;
    }

    .Latest_Posts .row p {
        margin-bottom: 20px;

    }

    .Latest_Posts .row .aa {
        margin-left: -40px;
    }

    .sub_right {
        margin-top: 30px;
    }
}

@media (min-width: 993px) and (max-width: 800) {
    .Shipping {
        background-position: center;
    }

    /************************************/
    

    .sub_right {
        margin-top: 50px;
    }
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/
/*start about */

@media (min-width: 398px) and (max-width:660px) {
    .about {
 background-size:cover;
 background-attachment: local;

    }

    .about h1 span {
        font-size: 45px;
    }
}

/* end about */
@media (max-width:336px) {
    .btn1,.btn2{
        padding: 20px !important;
    }
   .limited{
    background-size: cover;
   }
    
}