@media (max-width:991px) {
    .navbar .navbar-nav .nav-item .nav-link::after {
        bottom: 0px;
    }
    
    .navbar {
        background-color: #fff;
    }

    .navbar .navbar-nav .nav-item .nav-link {
        color: #252525;
    }

    .navbar .logo-1::before {
        display: inline-block;
    }

    .navbar .link i {
        color: #252525;
    }

    .header {
        background-attachment: unset;
        background-position-y: 82px;
    }

    .icon-shop::before {
        top: 150px;
    }

    .cart {
        margin: 100px 0 400px;
    }

    .icon-shop::before {
        left: 180px;
    }

    .header .header-content {
        padding-top: 50px;
    }
}

@media (max-width: 768px) {
    .icon-shop::before {
        left: 100px;
    }

    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 185px;
    }
}

@media (max-width: 576px) {
    .navbar-brand {
        width: 65%;
    }

    .icon-shop::before {
        left: 10px;
    }

    footer .container-fluid {
        padding-left: 1.25rem;
        padding-right: 4rem;
    }
}

@media (max-width:490px) {
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 150px;
    }
}

@media (max-width:550px) {
    .cart{
      height: 50vh !important;
    }
    .title{
        font-size: 13px;
        width: 28% !important;
    }
    .element img{
        width: 60% !important;
    }
    .delet{
        padding: 10px !important;
    }
 .total span{
    font-size: 15px !important;
 }
 .total a{
    padding: 10px !important;
 }
}

@media (max-width:340px) {
    .cart{
        height: 50vh !important;
      }
    .title{
        font-size: 9px;
        width:35% !important;
    }
    .element img{
        width: 70% !important;
    }
    .delet{
        padding: 7px !important;
    }
 
 .total a{
    padding: 5px !important;
    margin-right: 5px;
 }

}
