
@media (max-width:991px) {
    .navbar .navbar-nav .nav-item .nav-link::after {
        bottom: 0px;
    }

    .content span:nth-of-type(3) {
        display: block !important;
        font-size: 10px !important;
    }

    .graybox {
        padding: 10px !important;
        font-size: 0.9rem !important;
        font-weight: bold;
    }

    .container {
        width: 95% !important;
        margin: auto;
    }

    .items {
        font-size: 12px !important;
    }

    .col-4 {
        width: 50%;
    }

}

@media (max-width:767px) {
    .photos {
        margin-top: -50px;
    }


    .view {
        display: block !important;
    }

    .viewPhoto {
        width: 100% !important;
    }

    .content {
        width: 100% !important;
        padding: 0 !important;
        font-size: 15px !important;
    }

    .content span:nth-of-type(3) {
        display: block !important;
        font-size: 10px !important;

    }

    .content span:nth-of-type(1) {
        font-size: 13px !important;

    }

    .content span:nth-of-type(2) {
        font-size: 13px !important;

    }

    .graybox {
        padding: 10px !important;
        font-size: 0.9rem !important;
        font-weight: bold;
    }

    .items li {
        font-size: 14px;
    }

    .col-4 {
        width: 100%;
        font-size: 16px;
        padding: 30px;
    }

    /*#### start footer ####*/
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 185px;
    }

    /*#### end footer ####*/

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }

}

@media(max-width:576px) {
    .shop {
        font-size: 1rem !important;
    }

    .photos {
        margin-top: -50px;
    }

    .show {
        font-size: 12px !important;
    }

    .container {
        width: 80% !important;
        margin-left: 25px;
    }

    .view {
        display: block !important;
    }

    .viewPhoto {
        width: 100% !important;
    }

    .content {
        width: 100% !important;
        padding: 0 !important;
        font-size: 17px !important;
    }

    .content span:nth-of-type(3) {
        display: block !important;
        font-size: 11px !important;

    }

    .content span:nth-of-type(1) {
        font-size: 10px !important;

    }

    .content span:nth-of-type(2) {
        font-size: 14px !important;

    }

    .graybox {
        padding: 10px !important;
        font-size: 0.9rem !important;
        font-weight: bold;
    }

    .items li {
        font-size: 11px;
    }

    .col-4 {
        padding: 30px;
        width: 100%;
        font-size: 16px;
    }

    /*******************************/
    .Latest_Posts {
        margin-top: 1050px;
        height: 1800px;
    }

    .Latest_Posts .row img {
        margin-top: 30px;
    }

    .Latest_Posts .row p {
        margin-bottom: 20px;

    }

    .Latest_Posts .row .aa {
        margin-left: -40px;
    }

    .hov-img,
    .add-cart {
        padding: 1.2px;
        box-sizing: border-box;
    }

    footer .container-fluid {
        padding-left: 1.25rem;
        padding-right: 4rem;
    }

}

@media (max-width:490px) {
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 150px;
    }
    header{
        margin-top: 120px;
    }
}

@media(max-width:488px) {
    .photos {
        margin-top: -50px;
    }

    .show {
        font-size: 12px !important;
    }

    .container {
        width: 80% !important;
        margin-left: 25px;
    }

    .view {
        display: block !important;
    }

    .viewPhoto {
        width: 100% !important;
    }

    .content {
        width: 100% !important;
        padding: 0 !important;
        font-size: 15px !important;
    }

    .content span:nth-of-type(3) {
        display: block !important;
        font-size: 11px !important;

    }

    .content span:nth-of-type(1) {
        font-size: 10px !important;

    }

    .content span:nth-of-type(2) {
        font-size: 12px !important;

    }

    .graybox {
        padding: 10px !important;
        font-size: 0.8rem !important;
        font-weight: bold;
    }

    .items li {
        font-size: 11px;
    }

    .col-4 {

        width: 100%;
        font-size: 16px;
    }

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }


}

@media (max-width:430px) {
    .photos {
        margin-top: -50px;
    }

    .show {
        font-size: 12px !important;
    }

    .container {
        width: 80% !important;
        margin-left: 25px;
    }

    .view {
        display: block !important;
    }

    .viewPhoto {
        width: 100% !important;
    }

    .content {
        width: 100% !important;
        padding: 0 !important;
        font-size: 15px !important;
    }

    .content span:nth-of-type(3) {
        display: block !important;
        font-size: 11px !important;

    }

    .content span:nth-of-type(1) {
        font-size: 10px !important;

    }

    .content span:nth-of-type(2) {
        font-size: 12px !important;

    }

    .graybox {
        padding: 10px !important;
        font-size: 0.6rem !important;
        font-weight: bold;
    }

    .items li {
        font-size: 11px;
    }

    .col-4 {
        font-size: 15px !important;
        padding: 15px;
        width: 100%;
        font-size: 16px;
    }

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }


}