@media (max-width:1200px) {

    /*#### start header  ####*/
    header .carousel-inner .carousel-item h2 {
        font-size: 64px;
        letter-spacing: -1px;
        line-height: 73px;
    }

    header .carousel-inner .carousel-item h3 {
        font-size: 16px;
        line-height: 23px;
    }

    header .carousel-inner .carousel-item a {
        font-size: 10px;
        line-height: 42px;
    }

    header .carousel-inner .carousel-item .header-button {
        margin-top: -25px;
    }

    /*#### end header  ####*/

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }
}

@media (max-width:991px) {


    /*#### start header ####*/
    header .carousel-inner .carousel-item h2 {
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 4px;
    }

    header .carousel-inner .carousel-item h3 {
        font-size: 13px;
        line-height: 19px;
    }

    header .carousel-inner .carousel-item a {
        font-size: 9px;
        line-height: 37px;
    }

    header .carousel-inner .carousel-item .carousel-caption {
        top: 50px;
    }

    .part2-header .homeShop .item:first-child p,
    .part2-header .homeShop .item:last-child p {
        left: 6%;
    }

    .part2-header .homeShop .item p {
        left: 25%;
    }

    /*#### end header ####*/
    /*Shop Limited Edition section*/
    .limited {

        background-position: cover;
    }

    .limited-content {
        width: 90%;
    }

    /*start Best Sellers section */
    .col-3 {
        width: 50%;
    }

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }
}

@media (max-width:767px) {

    /*#### start header ####*/
    header .carousel-inner .carousel-item h2 {
        font-size: 46px;
        line-height: 54px;
    }

    header .carousel-inner .carousel-item a {
        font-size: 8px;
        line-height: 32px;
        padding: 0 20px;
    }

    header .carousel-item img {
        width: 118% !important;
    }

    header .carousel-inner .carousel-item .carousel-caption {
        top: 30px;
    }

    /*#### end header ####*/
    /*#### start part2-header ####*/
    .part2-header .homeShop .item {
        margin: 10px 30px;

    }

    .part2-header .homeShop .item:first-child p,
    .part2-header .homeShop .item:last-child p {
        left: 25%;
    }

    .part2-header .homeShop .item p {
        left: 35%;
    }

    /*#### end part2-header ####*/

    /*#### start footer ####*/
    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 185px;
    }

    /*#### end footer ####*/



    /*Shop Limited Edition section*/
    .limited {

        background-position: cover;
    }

    .limited span {
        font-size: 40px;
    }

    .limited p {

        font-size: 20px;
        line-height: 25px;
    }

    .limited-content {
        width: 70%;

    }

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }

}

@media(max-width:576px) {
    header .carousel-inner .carousel-item h2 {
        font-size: 37px;
        line-height: 42px;
        margin-bottom: 3px;
    }

    header .carousel-inner .carousel-item h3 {
        font-size: 10px;
        line-height: 14px;
    }

    header .carousel-inner .carousel-item a {
        font-size: 6px;
        line-height: 26px;
        padding: 0 15px;
    }

    footer .container-fluid {
        padding-left: 1.25rem;
        padding-right: 4rem;
    }
    
    .Shipping{
        padding-bottom: 130px;
        padding-right: 150px;
        background-position: center;
    }
    .Shipping h2{
        float: none;
        width: 200%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .Shipping button{
        float: none;
        width: 80%;  
        margin-left: 70px;
    }
/*******************************/
    .Latest_Posts{
        margin-top: 1050px;
        height: 1800px;
    }
    .Latest_Posts .row img{
    margin-top: 30px;
    }
    .Latest_Posts .row p{
        margin-bottom: 20px;
 
    }
    .Latest_Posts .row .aa{
        margin-left: -40px;
    }


    /*Shop Limited Edition section*/
    .limited {

        background-position: cover;
    }

    .limited span {
        font-size: 30px;
    }

    .limited p {

        font-size: 20px;
        line-height: 25px;
    }

    .limited-content {
        width: 80%;

    }

    .hov-img,
    .add-cart {
        padding: 1.2px;
        box-sizing: border-box;
    }
}


@media(max-width:488px) {
    .limited-content {
        width: 100%;

    }

    .limited p {

        font-size: 15px;
        line-height: 20px;
    }

    .btn1,
    .btn2 {
        font-size: 8px;
        font-weight: 600;
        letter-spacing: 1px;
    }

    .col-3 {
        width: 80%;
        margin: auto;
        overflow: hidden;
    }

    .hov-img,
    .add-cart {
        padding: 1.5px;
        box-sizing: border-box;
    }


}



@media (max-width:490px) {
    header .carousel-item img {
        width: 150% !important;
    }

    header .carousel-caption {
        width: 86%;

    }

    footer .col-lg-3:nth-child(4) .img-col4::after {
        top: 150px;
    }
}

@media(max-width:390px) {
    header .carousel-inner .carousel-item h2 {
        font-size: 30px;
    }

    header .carousel-caption {
        width: 75%;
    }

    header .carousel-caption h3 .br {
        display: none;
    }

    header .carousel-item .header-button {
        margin-top: -30px !important;
    }

    header .carousel-indicators {
        opacity: 0;
    }



}
@media (min-width: 577px) and (max-width: 768px){
    .container{
        width: 75%;
    }
    .Shipping{
        padding-bottom: 130px;
        padding-right: 150px;
        background-position: center;
    }
    .Shipping h2{
        float: none;
        width: 200%;
        margin-top: -20px;
        margin-left: -50px;
    }
    .Shipping button{
        float: none;
        width: 80%;  
        margin-left: 70px;
    }
/*******************************/
    .sales{
        margin-top: 0;
    }
    .sub_left, .sub_mid, .sub_right{
        margin-top: 40px;
    }
/*******************************/
    .Latest_Posts{
        margin-top: 1150px;
        height: 2000px;
    }
    .Latest_Posts .row img{
    margin-top: 30px;
    }
    .Latest_Posts .row p{
        margin-bottom: 20px;
 
    }
    .Latest_Posts .row .aa{
        margin-left: -40px;
    }
}


@media (min-width: 769px) and (max-width: 992px){
    .Shipping{
        padding-bottom: 50px;
        padding-right: 150px;
        background-position: center;
    }
    .Shipping h2{
        width: 90%;
        margin-top: -30px;
        margin-left: -80px;
        font-size: 30px;
    }
    .Shipping button{
        width: 30%;  
        margin-right: -150px;
        margin-top: -30px;
    }
/*****************************************/
    .Latest_Posts{
        margin-top: 450px;
        height: 700px;
    }
    .Latest_Posts .row img{
    margin-top: 30px;
    }
    .Latest_Posts .row p{
        margin-bottom: 20px;
 
    }
    .Latest_Posts .row .aa{
        margin-left: -40px;
    }
    .sub_right{
        margin-top: 30px;
    }
}

@media (min-width: 993px) and (max-width: 800){
    .Shipping{
        background-position: center;
    }
/************************************/
    .Latest_Posts{
        margin-top: 800px;
        height: 700px;
    }
    .sub_right{
        margin-top: 50px;
    }
}

/****************************************************************************/
/****************************************************************************/
/****************************************************************************/

@media (max-width: 576px){
    .cart{
        margin: 300px 0 150px;
    }
    .p-befor::before{
        font-size: 150px;
        top: 750px; 
    }
    .cart p{
        font-size: 30px;
        width: 70%;
        margin-left: 100px;
        margin-top: 300px;
    }
    .cart button{
        margin-left: 180px;
    }
    }
    @media (min-width: 577px) and (max-width: 768px){
        .cart{
            margin: 300px 0 200px;
        }
        .p-befor::before{
            font-size: 200px;
            top: 750px; 
        }
        .cart p{
            font-size: 30px;
            width: 70%;
            margin-left: 130px;
            margin-top: 400px;
        }
        .cart button{
            margin-left: 250px;
        }
    }