@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&family=Roboto+Slab:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

/*#### start navbar ####*/
.navbar {
    --bs-navbar-padding-y: -0.5rem;
    position: fixed;
    top: 0;
    background-color: #fff !important;
    z-index: 999;
    width: 100%;

}

.navbar .navbar-brand img {
    width: 50%;
}

.navbar .navbar-nav .nav-item .nav-link {
    color: #252525;
    font-weight: 500;
    font-size: 16px;
    line-height: 18px;
    font-family: 'Poppins', sans-serif;
    padding-right: 0;
    padding-left: 0;
    display: inline-block;
}

.navbar .navbar-nav .nav-item .active {
    color: #0cc3ce;
}

.navbar .link i {
    font-size: 22px;
    color: #252525
}

.navbar .link::after {
    content: '0';
    background-color: #0cc3ce;
    border-radius: 50%;
    padding: 0px 4px;
    font-size: 10px;
    color: #fff;
    position: absolute;
    left: 65%;
    top: -12%;
}

.navbar .navbar-nav .nav-item .nav-link:hover {
    color: #0cc3ce;
}

.navbar .navbar-nav .nav-item .nav-link::after {
    content: '';
    border-bottom: 4px solid #0cc3ce;
    width: 0%;
    position: absolute;
    bottom:var(--borderlink , -25px) ;
    left: 0%;
    visibility: hidden;
    transition: width 0.5s;
}

.navbar .navbar-nav .nav-item .nav-link:hover::after {
    width: 100%;
    visibility: visible;
}

/*#### end navbar ####*/

/*#### start header ####*/

header .carousel-inner .carousel-item .carousel-caption {
    position: absolute;
    top: 170px;
}

header .carousel-inner .carousel-item {
    margin-top: 15px;
}

header .carousel-inner .carousel-item img {
    height: 100%;
    object-fit: cover;
    object-position: right;
    width: 110%;
}

header .carousel-inner .carousel-item h2 {
    font-size: 74px;
    letter-spacing: -2px;
    margin-bottom: 6px;
    line-height: 83px;
    text-align: left;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    animation-duration: 0.5s;
}

header .carousel-inner .carousel-item:nth-child(1) h3 {
    animation-delay: 2.5s;
}

header .carousel-inner .carousel-item h3 {
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 0px;
    text-align: left;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    animation-delay: 1.5s;
    animation-duration: 0.5s;
}

header .carousel-inner .carousel-item .header-button {
    animation-duration: 0.5s;
}

header .carousel-inner .carousel-item a {
    margin: 35px 5px 0 0;
    font-size: 13px;
    line-height: 53px;
    letter-spacing: 2px;
    padding: 0px 38px;
    border: 1px soloid;
    border-radius: 0%;
    font-family: Poppins, sans-serif;
    text-transform: uppercase;
    font-weight: 600;
}

header .carousel-inner .carousel-item .findMore {
    border-color: #0cc3ce;
    background-color: #0cc3ce;
    color: #fff;
}

header .carousel-inner .carousel-item .shop {
    color: rgb(255, 255, 255);
    border-color: rgba(255, 255, 255, 0.5);

}

header .carousel-inner .carousel-item .findMore:hover {
    background-color: #191919;
    border-color: #191919;

}

header .carousel-inner .carousel-item .shop:hover {
    background-color: #0cc3ce;
    border-color: #0cc3ce;
    transition: 0.3s;
}

header .carousel-indicators {
    bottom: 20px;
}

header .carousel-indicators [data-bs-target] {
    height: 4px;
}

header .carousel-control-prev,
header .carousel-control-next {
    opacity: 1;
    top: 100px;
}

header .carousel-control-prev-icon,
header .carousel-control-next-icon {
    width: 4rem;
    height: 3.5rem;
}

header .carousel-control-prev:hover {
    left: -15px;
    transition: 0.5s;
}

header .carousel-control-next:hover {
    right: -15px;
    transition: 0.5s;
}

header {
    position: relative;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.loader {
    width: 64px;
    height: 64px;
    position: relative;
    background-image:
        linear-gradient(#FFF 16px, transparent 0),
        linear-gradient(#0cc3ce 16px, transparent 0),
        linear-gradient(#0cc3ce 16px, transparent 0),
        linear-gradient(#FFF 16px, transparent 0);
    background-repeat: no-repeat;
    background-size: 16px 16px;
    background-position: left top, left bottom, right top, right bottom;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        width: 64px;
        height: 64px;
        transform: rotate(0deg)
    }

    50% {
        width: 30px;
        height: 30px;
        transform: rotate(180deg)
    }

    100% {
        width: 64px;
        height: 64px;
        transform: rotate(360deg)
    }
}

/*#### end header ####*/

/*#### part2-header ####*/
.part2-header .homeShop .item {
    margin: 10px 0;
    overflow: hidden;
    padding: 0;
}

.part2-header .homeShop {
    background-color: #f6f6f6;
}

.part2-header .homeShop .row {
    --bs-gutter-x: 16.5rem;
    margin-right: 5rem;
}

.part2-header .homeShop .item::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    right: 12px;
    bottom: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    transform: rotate(234deg) translate(-250px, -3px) scale(2.2, 20);
    visibility: hidden;
    cursor: pointer;
}

.part2-header .homeShop .item p {
    position: absolute;
    top: 42%;
    left: 35%;
    color: #fff;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    z-index: -1;
}

.part2-header .homeShop .item:first-child p,
.part2-header .homeShop .item:last-child p {
    left: 25%;
}

.part2-header .homeShop .item:hover::after {
    visibility: visible;
    transform: rotate(234deg) scale(2.1, 20) translate(-40px, 0px);
    transition-duration: 1s;
}

.part2-header .homeShop .item:hover p {
    z-index: 999;
    transition-delay: 0.2s;
    transition-duration: 1s;
}

/*#### part2-header ####*/



/*#### start footer ####*/
footer .logo {
    width: 50%;
}

footer {
    background-color: #191919;
}

footer .desc {
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    line-height: 26px;
}

footer .col-lg-3:nth-child(1) i {
    font-size: 15px;
    border-radius: 3px;
    color: #000000;
    border: 1px solid #fff;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    background-color: #fff;
    text-align: center;
}


footer .col-lg-3:nth-child(1) .ground-light {
    overflow: hidden;
}

footer .col-lg-3:nth-child(1) .ground-light .icon2 {
    border-color: #0cc3ce;
    background-color: #0cc3ce;
    opacity: 0;

}

footer .col-lg-3:nth-child(1) .ground-light .icon:hover .icon1 {
    transform: translateY(-30px);
    transition: transform 0.5s;
}

footer .col-lg-3:nth-child(1) .ground-light .icon:hover .icon2 {
    opacity: 1;
    transform: translateY(-30px);
    transition: transform 0.5s, opacity 0.4s 0.2s;
}

footer .title {
    margin-bottom: 30px;
    margin-top: 35px;
    color: #fff;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    letter-spacing: -0.2px;
    font-size: 15px;
    line-height: 1.8px;
}

footer .row .col-lg-3 .posts {
    font-size: 15px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}

footer .row .col-lg-3 .posts a:hover {
    color: #0cc3ce;
}

footer .container-fluid {
    padding-left: 5rem;
    padding-right: 7rem;
}

footer .row .col-lg-3:nth-child(2) a,
footer .row .col-lg-3:nth-child(2) p,
footer .row .col-lg-3:nth-child(3) p {
    color: #fff;
}

footer .row .col-lg-3:nth-child(4) .footer-item {
    cursor: pointer;
}

footer .row .col-lg-3:nth-child(4) .footer-item::after {
    position: absolute;
    content: '';
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
    opacity: 0;

}

footer .row .col-lg-3:nth-child(4) .footer-item:hover::after {
    opacity: 1;
    transition: 0.5s;
}

footer .row .col-lg-3:nth-child(2) p {
    line-height: 19px;
}

footer .container-fluid .row .col-lg-3 .date {
    font-size: 13px;
    color: #0cc3ce;
    font-family: Poppins, sans-serif;
    font-weight: 500;
}

footer .col-lg-3:nth-child(3) p {
    font-size: 13px;
    line-height: 15px;
}

footer .col-lg-3:nth-child(4) .img-col4::after {
    content: '';
    border-bottom: 1px solid #777;
    width: 103%;
    position: absolute;
    top: 142px;
}

footer .col-lg-3 .form-label {
    color: #fff;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

footer .col-lg-3 .form-control {
    background-color: transparent;
    border-radius: 0;
}

footer .col-lg-3 .form-control::placeholder {
    color: #fff;
    font-size: 13px;
}

footer .input-group {
    margin-bottom: 1.25rem;
    align-items: center;
    width: 63%;
}

footer .btn {
    border-radius: 0;
    border-color: #fff;
}

footer .input-group .btn i {
    font-size: 12px;
    color: #fff;
}

footer .col-lg-3:nth-child(4) .email::after {
    content: '';
    border-bottom: 1px solid #777;
    width: 113%;
    position: absolute;
    top: 96px;
}

footer .col-lg-3:nth-child(4) .btn:hover {
    background-color: #0cc3ce;
}


footer .form-control {
    color: #fff !important;
}

.top-icon {
    position: fixed;
    bottom: 30px;
    right: 50px;
}

.top-icon .top {
    background-color: transparent;
    border: 1px solid #adadad;
    padding: 13px 15px;
}

.top-icon .top:hover {
    background-color: #0cc3ce;
    border-color: #0cc3ce;
    transition: 0.5s;
}

.top-icon .top:hover i {
    color: #FFF;
}

.top-icon i {
    font-size: 20px;
    color: #adadad;
}

/*#### end footer ####*/

/*############################ Hiba Sections ############################################*/
a {
    text-decoration: none;
}

.newProduct {

    text-align: center;


}

.newProduct span,
.sellers span {
    font-size: 18px;
    font-weight: 500;
    color: #101010;


}

.newProduct h3,
.sellers h3 {
    font-size: 23px;
    color: #101010;
    font-weight: 600;
    line-height: 1.4em;
}

/*Shop Limited Edition section*/
.limited {

    height: 65vh;
    background-image: url('../image/HibaImages/home-shop-1-parallax.jpg');
    background-position: center 0%;
    background-attachment: fixed;

}

.limited span {
    color: white;
    font-size: 58px;
    font-weight: 600;
}

.limited p {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-weight: 400;
    font-size: 20px;
    line-height: 35px;
}

.limited-content {
    width: 55%;
}

.btn1,
.btn2 {
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.btn1 {
    background-color: #0cc3ce;
    transition: 0.5s;

}

.btn1:hover {
    background-color: #191919;
}

.btn2 {
    border-color: rgba(255, 255, 255, 0.5) !important;
    transition: 0.5s;
    box-sizing: border-box !important;

}

.btn2:hover {
    background-color: #0cc3ce;
    border: none !important;

}

/*Best Sellers  section*/
.sellers {
    text-align: center;

}

.sel-content {
    border-bottom: 1px solid #e1e2e5;
}

.sel-content span {
    font-size: 12px;
    color: #777;

}

.sel-content h5 {
    font-size: 15px;
    color: #101010;
    font-weight: 500;
    letter-spacing: -0.5px;

}

.sel-content p {
    letter-spacing: -0.5px;
    font-size: 12px;
    color: #101010;
    font-weight: 500;
    text-align: left;
}

.cart1 {
    background-color: #101010;
    float: left;
    width: 80%;
    height: 50px;
    text-align: center;
    padding: 12px 1px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
}

.cart2 {
    background-color: #101010;
    float: left;
    width: 20%;
    height: 50px;
    text-align: center;
    padding: 12px 1px;
    border-left: 0.1px solid #777;
    transition: 0.5s;

}

.cart2:hover {
    background-color: #0cc3ce;
}

.add-cart span,
.add-cart i {
    color: white;
}

.fir-img {
    position: absolute;
    z-index: 1;
    top: 0;
    transition: top 0.5s;

    transition-duration: top 0.5s;
}

.hov {
    position: relative;
    overflow: hidden;

}

.add-cart {
    overflow: hidden;
    position: absolute;
    left: 0;
    bottom: 8px;
    width: 100%;
    z-index: 0;
}

.hov-img {
    z-index: -5;

}

.col-3:hover .fir-img {
    top: -100%;
}

/*######################################## end Hiba Sections ########################################################*/
/* israa section */
.about {
    height: 445px;
    background-image: url(../../assets/image/about/header.jpg);
    background-position: -293px -4px;

}

.about h1 {
    color: white;
    font-size: 72px;
    margin: auto;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 165px;

}

.iconn {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 26px;
    color: #777;
    font-weight: 400;
    background-color: #fff;
    overflow-x: hidden !important;
    -webkit-font-smoothing: antialiased;
}


.about h2 {

    font-size: 30px;
    line-height: 1.25em;
    font-weight: 600;
    letter-spacing: -.5px;
    font-family: Poppins, sans-serif;
    color: #101010;

}

h6 {
    color: #101010;
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

.fa-solid {
    text-align: center;
}

.picon {
    text-align: center;
}

.iconn {
    padding-top: 112px !important;
    padding-bottom: 62px !important;
    height: 459px;

}

/*end israa */

/*Start Raghad Section*/
.aa {
    text-decoration: none;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

/****************************/
.Shipping {
    background-image: url('../image/img_R/background.jpg');
    background-size: cover;
    padding: 80px;
    overflow: hidden;
}

.Shipping h2 {
    float: left;
    width: 70%;
    font-size: 34px;
    color: #fff;
    font-weight: 600;
    font-family: Poppins, sans-serif;
    cursor: auto;
}

.Shipping button {
    float: right;
    width: 15%;
    background-color: transparent;
    border: 1px solid #fff;
    padding: 15px;
    font-size: 13px;
    color: #fff;
    cursor: pointer;
    font-family: Poppins, sans-serif;
    letter-spacing: 2px;
}

.Shipping button:hover {
    background-color: #000;
    border-color: #000;
    transition-delay: 0.05s;

}

/*********************************************************/
.sales {
    margin-top: 50px;
}

.sub_left,
.sub_mid {
    overflow: hidden;
}

.sales h4 {
    float: left;
    width: 30%;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-weight: 600;
}

.sales span {
    float: left;
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 26px;
    color: rgb(187, 186, 186);
    font-weight: 400;
}

.sales .sub_mid h4 {
    width: 20%;
}

.sales .sub_mid span {
    width: 80%;
}

.sales .row {
    padding-top: 40px;
}

.sales_all {
    margin-top: 40px;
}

.sales_all img {
    margin-top: 30px;
}

.sale1 {
    display: flex;
    margin-bottom: 10px;
}

.sale1 img {
    height: 70px;
    width: 65px;
    margin-right: 15px;
    margin-top: 5px;
}

.sale1 .aa {
    color: #101010;
    font-size: 15px;
    line-height: 1.6em;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.sale1 .aa:hover {
    color: #0cc3ce;
    transition-delay: 0.05s;
}

.sale1 .left_a a {
    color: #888787;
    line-height: 1.2em;
    font-size: 12px;
    font-family: Poppins, sans-serif;
    font-weight: 400;
}

.sale1 .left_a a:hover {
    color: #0cc3ce;
}

/**********************************************/
.Latest_Posts {
    margin-top: 350px;
    text-align: center;
    background-color: #f4f4f4;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 100px;
}

.Latest_Posts h6 {
    font-size: 15px;
    font-weight: 500;
    font-family: Poppins, sans-serif;
}

.Latest_Posts h3 {
    font-size: 23px;
    font-weight: 400;
    font-family: Poppins, sans-serif;
}

.Latest_Posts .row {
    padding-top: 60px;
    padding-bottom: 60px;
}

.Latest_Posts .row img {
    width: 100%;
}

.Latest_Posts .row h5 {
    padding-top: 20px;
    text-align: left;
}

.Latest_Posts .row h5:hover {
    color: #0cc3ce;
}

.Latest_Posts .row h5 a {
    cursor: pointer;
    font-family: Poppins, sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.Latest_Posts .row h6 {
    font-size: 13px;
    margin-top: 10px;
    color: #0cc3ce;
    font-family: Poppins, sans-serif;
    font-weight: 500;
    text-align: left;
}

.Latest_Posts .row p {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 26px;
    color: #777;
    font-weight: 400;
    text-align: left;
    margin-top: 10px;
    margin-bottom: 25px;
}

.Latest_Posts .row .aa {
    font-size: 13px;
    font-family: Poppins, sans-serif;
    font-weight: 600;
    cursor: pointer;
    line-height: 35px;
    margin-right: 225px;
    color: #000;
}

.Latest_Posts .row .aa:hover {
    color: #777;
    text-decoration: underline;
}

.Latest_Posts .row .aa span {
    font-size: 15px;
    color: #777;
}

/*End Raghad Section*/